.pets-wrapper{
    background-color: aqua;
}


.pets-wrapper .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  overflow: auto;
}

.pets-wrapper .modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
  border-radius: 5px;
}

.pets-wrapper .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.pets-wrapper .close:hover,
.pets-wrapper .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
