{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="navbar-wrapper">

    <nav class="nav-bar">
        <a href="{% url 'landing' %}" style="margin:auto;">
            <img  class="icon" src="{% static 'images/paws-icon.png' %}" alt="Logo">
        </a>

        <div style="display:flex; gap:10px;">
            <a href="{% url 'pets' %}" class="active">My Pets</a>
            <div class="dropdown">
                <button class="dropbtn">Health Records</button>
                <div class="dropdown-content">
                    <a href="{% url 'vet-visits' %}">Vet Visits</a>
                    <a href="{% url 'vaccinations' %}">Vaccinations</a>
                </div>
            </div>
            <a href="{% url 'community' %}">Community</a>
        </div>
        <a href="{% url 'logout' %}" style="margin-left:auto; color: red;">Logout</a>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'register' %}">Sign up</a>
    </nav>

</div>


{% endblock navbar %}